<div class="message-content">
  <div class="user-image">
    <% if message.user.image.attached? %>
      <%= image_tag message.user.image, class: 'user-image' %>
    <% else %>
      <%= image_tag 'no_image.png', class: 'user-image' %>
    <% end %>
  </div>
  <div class="message-text">
    <span class="username"><%= message.user.username %></span>
    <span class="text"><%= message.content %></span>
    <span class="timestamp"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
</div>