<div class="profile-edit">
  <div class="profile-header">
    <h1>プロフィールの編集</h1>
  </div>
  <%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', model: @user %>
    <div class="field">
      <%= f.label :image, "プロフィール画像" %>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :username, "ユーザー名" %><span class="required">*</span>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :profile, "プロフィール" %>
      <%= f.text_area :profile %>
    </div>

    <div class="actions">
      <%= f.submit '更新', class: 'update-button' %>
    </div>
  <% end %>
</div>