<div class="container">
  <%= render 'shared/community_sidebar', community: @community %>
  <div class="content">
    <div class="evaluation-list">
      <h2>
        <%= link_to user_path(@user, referrer: request.original_url), class: 'profile-link' do %>
          <i class="fas fa-user"></i> <%= @user.username %>の評価一覧
        <% end %>
      </h2>
    
      <% @evaluation_items.each do |item| %>
        <div class="evaluation-item">
          <h3>評価項目: <%= item.name %></h3>
          
          <div class="self-evaluation">
            <h4>自己評価</h4>
            <% self_evaluation = @self_evaluations.find { |e| e.evaluation_item_id == item.id } %>
            <% if self_evaluation %>
              <ul>
                <li>
                  <% self_evaluation.score.times do %>
                    <span class="star selected">&#9733;</span>
                  <% end %>
                  <% (5 - self_evaluation.score).times do %>
                    <span class="star">&#9733;</span>
                  <% end %>
                  <div class="comment"><strong>コメント:</strong> <%= self_evaluation.comment %></div>
                </li>
              </ul>
              <span class="date"><%= l self_evaluation.created_at, format: :short %></span>
            <% else %>
              <p>自己評価がありません。</p>
            <% end %>
          </div>
    
          <div class="peer-evaluation">
            <h4>他者評価</h4>
            <% peer_evaluations = @peer_evaluations_received.select { |e| e.evaluation_item_id == item.id } %>
            <% if peer_evaluations.any? %>
              <ul>
                <% peer_evaluations.each do |evaluation| %>
                  <li>
                    <strong>評価者:</strong> <%= evaluation.evaluator.username %><br>
                    <% evaluation.score.times do %>
                      <span class="star selected">&#9733;</span>
                    <% end %>
                    <% (5 - evaluation.score).times do %>
                      <span class="star">&#9733;</span>
                    <% end %>
                    <div class="comment"><strong>コメント:</strong> <%= evaluation.comment %></div>
                  </li>
                  <span class="date"><%= l evaluation.created_at, format: :short %></span><br>
                <% end %>
              </ul>
            <% else %>
              <p>他者評価がありません。</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>