<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" <%= 'checked' if @active_tab == 'sign_in' %>><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up" <%= 'checked' if @active_tab == 'sign_up' %>><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f| %>
          <div class="form-group">
            <%= f.label :email, "Email", class: 'label' %><span class="required">*</span>
            <%= f.email_field :email, class: 'form-control input', autofocus: true, autocomplete: "email" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password", class: 'label' %><span class="required">*</span>
            <%= f.password_field :password, class: 'form-control input', autocomplete: "current-password" %>
          </div>
          <div class="form-group">
            <%= f.submit "Sign In", class: 'btn btn-primary' %>
          </div>
          <div class="hr"></div>
        <% end %>
      </div>
      <div class="sign-up-htm">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'login-form' }) do |f| %>
        <%= render 'shared/error_messages', model: @user %>
          <div class="form-group">
            <%= f.label :username, "Username", class: 'label' %><span class="required">*</span>
            <%= f.text_field :username, class: 'form-control input', autofocus: true, autocomplete: "username" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email", class: 'label' %><span class="required">*</span>
            <%= f.email_field :email, class: 'form-control input', autofocus: true, autocomplete: "email" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password", class: 'label' %><span class="required">*</span>
            <%= f.password_field :password, class: 'form-control input', autocomplete: "new-password" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Repeat Password", class: 'label' %><span class="required">*</span>
            <%= f.password_field :password_confirmation, class: 'form-control input', autocomplete: "new-password" %>
          </div>
          <div class="form-group">
            <%= f.submit "Sign Up", class: 'btn btn-primary' %>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>