<%= render 'shared/header' %>
<div class="container">
  <div class="sidebar">
      <div id="auth-buttons">
        <% if user_signed_in? %>
          <%= link_to 'プロフィール', "#", class: 'list' %>
          <%= link_to 'コミュニティの作成', '#', class: 'list' %>
          <%= link_to 'コミュニティへ参加', '#', class: 'list' %>
          <a href="#" id="toggle-community-list" class="list">コミュニティ一覧</a>
          <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: 'list' %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class: 'list' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'list' %>
        <% end %>
      </div>
  </div>
  <div class="content">
    <section id="overview">
      <div class="overview-content">
        <h2>Reflex Scoreとは？</h2>
        <p>Reflex Scoreは、コミュニティ内での自己評価と他者評価を通じて、個人の成長を促進するためのアプリケーションです。</p>
        <a href="/users/sign_up" class="btn-start">今すぐ始める</a>
      </div>
    </section>
    <div class="features">
        <div class="feature-card">
            <i class="fas fa-tasks"></i>
            <h3>目標投稿</h3>
            <p>自分の達成したい目標をコミュニティ内で共有し、進捗を定期的に更新します。</p>
        </div>
        <div class="feature-card">
            <i class="fas fa-star"></i>
            <h3>他者からの評価</h3>
            <p>他のメンバーからの評価やフィードバックを受けて、自分の成長を確認できます。</p>
        </div>
        <div class="feature-card">
            <i class="fas fa-users"></i>
            <h3>コミュニティ</h3>
            <p>コミュニティに参加して、他のメンバーと交流し、励まし合います。</p>
        </div>
    </div>
  </div>
</div>
