<div class="container">
  <%= render 'shared/community_sidebar', community: @community %>
  <div class="content">
    <div class="community-details">
      <div class="community-header">
        <h1><%= @community.name %></h1>
        <p><%= @community.description %></p>
      </div>
      <div class="community-section">
        <h2>評価項目</h2>
        <div class="card-container">
          <% @community.evaluation_items.each do |item| %>
            <%= link_to community_evaluation_item_path(@community, item) do %>
              <div class="card">
                <div class="card-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="card-content">
                  <h3><%= item.name %></h3>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if current_user.community_memberships.find_by(community: @community).role == 'admin' %>
            <div class="edit-container">
              <%= link_to '編集', community_evaluation_items_path(@community), class: 'edit-link' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="community-section">
        <h2>参加メンバー</h2>
        <div class="card-container">
          <% @community.users.each do |user| %>
            <div class="card">
              <%= link_to community_evaluations_user_path(user, community_id: @community.id) do %>
                <div class="card-icon">
                  <% if user.image.attached? %>
                    <%= image_tag user.image, class: 'profile-image' %>
                  <% else %>
                    <%= image_tag 'no_image.png', class: 'profile-image' %>
                  <% end %>
                </div>
                <div class="card-content">
                  <% membership = user.community_memberships.find_by(community: @community) %>
                  <h3 class="<%= 'admin-name' if user.community_memberships.find_by(community: @community).role == 'admin' %>"><%= user.username %></h3>
                  <% if user == current_user && membership.role != 'admin' %>
                    <%= link_to 'コミュニティを抜ける', leave_community_path(@community), data:{turbo_method: :delete}, class: 'leave-button' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% if current_user.community_memberships.find_by(community: @community).role == 'admin' %>
        <div class="edit-container">
          <%= link_to 'コミュニティを編集', edit_community_path(@community), class: 'edit-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>